*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root
{
    --fondo-blanco:#fff;
    --fondo-negro:#0f0f0b;
    --fondo-gris-b:#919191;
    --fondo-gris-a:#AAAAAA;
    --fondo-rosa:#FBEBD2;
    --fondo-resaltador:#D09456;
    --fondo-resaltador2:#FADBC8;
}
body
{
    background-color: var(--fondo-rosa);
}

.social_media
{
    display: flex;
    height: 30px;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 22px;
    top: 0;
}
.social_media .left
{
    display: flex;
    align-items: center;
    height: 46px;
    padding: 8px 0px;
    margin-top: 1.5%;
    font-weight:550;
    color: var(--fondo-resaltador);
}
.social_media .right
{
    width: 20%;
    height: 46px;
    margin-top: 1.5%;
}
.social_media .right ul
{
    list-style: none;
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 12px;
}
.social_media .right ul li i
{
    font-size: 1.2em;
    color: var(--fondo-resaltador);
}

/*HOVER NAV-1*/
.social_media .right ul li i:hover
{
    transition: ease all 0.1s;
    color: #0f0f0b;
    text-shadow:0 0 6px var(--fondo-resaltador2);
    cursor: pointer;
    text-decoration-color:rgba(255, 255, 255, 0.2); ;
}
nav
{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--fondo-negro);
    position:sticky;
    padding: 2px 18px;
}
nav button
{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1 ;
    color: var(--fondo-blanco);
}
nav button i
{
    color: var(--fondo-blanco);
    font-size: 1.5em;
}
nav img
{
    width: 50px;
    height: auto;
}
nav .collapse
{
    width: auto;
    height: 70px;
    display: flex;
    justify-content:end;
    align-items: baseline;
    padding: 8px 0px;
    gap: 0px 10px;
}
nav .collapse .navbar-nav
{
    width: 50%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 12px;
}

nav .collapse .navbar-nav li
{
    padding: 2px 4px;
}
nav .collapse .navbar-nav li a
{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
/*HOVER NAV-2*/
nav .collapse .navbar-nav .nav-item1 a:hover
{
    transition: 0.5s;
}

nav .collapse .navbar-nav .nav-item1:hover
{
    border-bottom: 3px solid var(--fondo-resaltador);
    padding: 2px 4px;
}

nav .collapse .nav-items
{
    width: 15%;
    height: 60px;
    display: flex;
    justify-content:end;
    align-items: center;
}
nav .collapse .nav-item
{
    display: flex;
    justify-content:end;
    align-items: center;
}
nav .collapse .nav-item li
{
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 8px 8px;
    list-style:none;
    text-decoration: none;
}
nav .collapse .nav-item li a i
{
    font-size: 1.3em;
    color: var(--fondo-blanco);
    list-style:none;
    text-decoration: none;
    border: none;
}
nav .collapse .nav-item li a
{
    list-style:none;
    text-decoration: none;
    border: none;
}
/*HOVER NAV-3*/
nav .collapse .nav-items .nav-item li i:hover
{
    transition: ease all 0.6s;
    color: var(--fondo-rosa);
    text-shadow:0 0 6px var(--fondo-blanco);
    cursor: pointer;
    text-decoration-color:rgba(255, 255, 255, 0.2);
}
.collapse .navbar-nav .nav-item1 .dropdown-menu
{
    background-color: var(--fondo-rosa);
}
.collapse .navbar-nav .nav-item1 .dropdown-menu li
{
    width: 100%;
    height: 40px;
}
.collapse .navbar-nav .nav-item1 .dropdown-menu li a
{
 color: var(--fondo-negro);
 background-color: var(--fondo-resaltador2);
}

/*HOVER NAV-4*/
.collapse .navbar-nav .nav-item1 .dropdown-menu .dropdown-item:hover
{
    transition: 0.5s;
    background-color: var(--fondo-resaltador);
    color: var(--fondo-blanco);
}